<html lang="en">


<head>
  <meta charset="utf-8">

  <title>#FIXTITLE</title>
  
  <link id="favicon32" rel="icon" type="image/png" href="/media/favicons/favicon-32.ico" sizes="32x32">
  <link id="favicon16" rel="icon" type="image/png" href="/media/favicons/favicon-16.ico" sizes="16x16">

  <link id="theme" rel="stylesheet" type="text/css" href="/styles/themes/darkstar.css">
  <link rel="stylesheet" type="text/css" href="/styles/style.css">
</head>

<body>
  <article>
    <h1>#FIXTITLE</h1>
  </article>
</body>


</html>
